body {
	margin: 0;
	padding: 0;
	font-family: 'Operator Mono Light';
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

#container {
	width: 600px;
	margin: 80px auto auto auto;
}

#app-head {
	width: 100%;
	text-align: center;
	margin: 1.2rem .7rem;
	font-size: 1.2rem;
}

#form-container {
	height: 40px;
	display: flex;
	flex-flow: wrap row;
	margin: 1.8rem auto;
}

#form-container #input-container {
	height: 40px;
	width: calc(100% - 150px);
	position: relative;
}

#input-container #form-text {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	/*right: 0;*/
	width: 100%;
	padding: .6rem;
	border: none;
	border-left: thin solid rgba(0, 0, 225, 0.09);
	border-top: thin solid rgba(0, 0, 225, 0.09);
	border-bottom: thin solid rgba(0, 0, 225, 0.09);
	outline: none;
}

#input-container:after {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	border-bottom: thin solid blue;
	background: red;
}

#form-container #button-container {
	margin: 0;
	height: 40px;
	width: 150px;
	position: relative;
}

 #button-container #form-submit {
 	height: 100%;
 	width: 100%;
 	border: transparent solid thin;
 	border-left-color: transparent;
 	background: rgba(0, 0, 225, 0.09);
 	outline: none;
 	color: blue;
 	cursor: pointer;
 	font-family: "operator mono light";
}

#form-submit:hover {
	color: red;
}

#todolist {
	display: flex;
	flex-flow: column nowrap;
}

#todolist .todo {
	margin: 10px auto;
	padding: .6rem;
	width: 100%;
	height: 60px;
	display: flex;
	flex-flow: nowrap row;
	justify-content: space-between;
	align-items: center;
	border-bottom: thin solid #eee;
}

.todo:last-child {
	border: none;
}

.todo .text {
	text-transform: capitalize;
	text-overflow: ellipsis;
}

.todo .util {
	display: flex;
	justify-content: right;
	align-items: center;
}

.todo .util img {
	width: 30px;
	height: 30px;
	margin: auto 10px;
	cursor: pointer;
}

.todo.complete {
	filter: blur(2px);
}

.todo.complete .util {
	display: none;
}

#feedback {
	position: fixed;
	bottom: 10px;
	left: 10px;
	display: none;
	align-items: center;
	padding: 1rem;
	z-index: 100;
	transition: 0.3s ease-in-out display, 150ms ease-in-out all;
}

#feedback.show {
	transition: 0.3s ease-in-out display, 150ms ease-in-out all;
	display: flex;
}

#feedback span {
	margin-left: 6px;
}

#feedback.complete {
	background: rgba(0, 225, 0, 0.1);
}

#feedback.edit {
	background: rgba(0, 0, 225, 0.1);
}

#feedback.delete {
	background: rgba(225, 0, 0, 0.1);
}

/* For MoTbile View */
@media screen and (max-width: 780px) {

	* {
		box-sizing: border-box;
		font-size: 1.1rem;
	}

	#container {
		width: calc(100% - 50px);
	}

	#form-container {
		padding: 10px;
	}

	#input-container {
		width: calc(100% - 70px);
	}

	#button-container {
		width: 70px;
	}

	.todo .text {
		white-space: nowrap;
		width: calc(100% - 155px);
		height: 24px;
		overflow: hidden;
		text-overflow: ellipsis;

	}

	.text:hover {
		cursor: pointer;
		text-overflow: inherit;
    	overflow: visible;
	}

	.text:hover + .util {
		opacity: 0.1;
	}
}