html { font-size:100%; }

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	position: relative;
}

body.dark {
	background: rgb(38, 39, 51);
}

@font-face {
	font-family: opens;
	src: url(../res/opensan.ttf);
}

* {
	box-sizing: border-box;
	font-family: opens;
}

#overflow-menu {
	width: 400px;
	max-width: calc(100vw - 10px);
	height: 100vh;
	background-color: #006fff;
	position: fixed;
	top: 0;
	right: 0;
	transform: translate3d(100%, 0, 0);
	transition: transform .3s cubic-bezier(0, .52, 0, 1);
	overflow: auto;
	z-index: 1000;

	padding-top: 80px;
}

#overflow-menu.show {
	transform: translate3d(0vw, 0, 0);
}

#overflow-menu div {
	padding: 1.5rem 1.2rem;
	color: white;

	display: flex;
	justify-content: space-between;
	align-items: center;

	transition: background ease-in-out .3s;
}

#overflow-menu div:hover {
	background-color: rgba(70, 70, 70, 0.11);
	cursor: pointer;
}

#overflow-menu div.isSwitch {
	background-color: transparent;
	cursor: unset;
}

#overflow-menu .switch {
	background-color: #898989;
	width: 60px;
	height: 25px;

	border-radius: 15px;
	position: relative;
	overflow: visible;
}

#overflow-menu .switch.on {
	background-color: black;
}

#overflow-menu .switch input {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 1;
}

#overflow-menu .switch span {
	position: absolute;
	background-color: white;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	top: calc(50% - 15px);
	transition: all .3s ease;
}

#overflow-menu .switch [type=checkbox]:checked ~ span {
	transform: translateX(100%);
}

#app-controls {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 25px;

	z-index: 1001;
}

#app-controls.toggle span:nth-child(1) {
	transform: rotateZ(45deg) translateY(4.5px);
}

#app-controls.toggle span:nth-child(2) {
	transform: rotateZ(-45deg) translateY(-4.5px);
}

#app-controls span {
	display: block;
	width: 100%;
	height: 3px;
	background-color: black;
	margin: 4px;
	transition: cubic-bezier(.71,.55,.62,1.57) transform .3s;
}

#app-controls.toggle span, body.dark #app-controls span {
	background-color: white;
}

#container {
	width: 600px;
	max-width: calc(100% - 10px);
	margin: auto;
	padding: 300px 0 150px 0;
}

#app-header {
	text-align: center;
	font-size: 1.2rem;
	top: 100px;
	width: 100%;
	z-index: 10;
	position: absolute;

	transition: ease .3s box-shadow;
}

#app-header h1 {
	font-size: 2.5rem;
	transition: ease .3s font-size;
}

body.dark #app-header h1 {
	color: white;
}

#app-header.stick {
	top: 0;
	position: fixed;
	box-shadow: 0 0 4px rgb(206, 206, 216);
	background: white;
}

body.dark #app-header.stick {
	background-color: rgb(38, 39, 51);
	box-shadow: 0 0 5px rgb(80, 80, 88);
}

#app-header.stick h1 {
	font-size: 1.4em;
}

#form-container {
	width: 600px;
	max-width: calc(100% - 10px);
	height: 40px;
	display: flex;
	flex-flow: wrap row;
	margin: 1rem auto 1.8rem auto;
	overflow: hidden;
	border-radius: .345rem;

	position: relative;
}

#form-container input {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	padding: 1rem 1.5rem;
	padding-right: 105px;
	border: none;
	background-color: #eee;
	outline: none;

	font-size: 17px;
}

#form-container #form-submit {
 	height: 100%;
 	width: 100px;
 	border: transparent solid thin;
 	border-left-color: transparent;
 	background: #b8d7ff;
 	outline: none;
	cursor: pointer;
	color: black;
	position: absolute;
	right: 0;

	font-size: 17px;
}

#form-container #form-submit.valid {
	background: #006fff;
	color: white;
}

#todolist {
	display: flex;
	flex-flow: column nowrap;
}

#todolist .todo {
	margin: 10px auto;
	padding: .6rem .6rem .6rem 1rem;
	width: 100%;
	height: 60px;
	display: flex;
	flex-flow: nowrap row;
	justify-content: space-between;
	align-items: center;
	/* border-bottom: thin solid #ccc; */
	background: #eee;
	border-radius: .345rem;
}

.todo:last-child {
	border: none;
}

.todo .text {
	flex: 1;
	text-transform: capitalize;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.todo .util {
	display: flex;
	justify-content: right;
	align-items: center;
}

.todo .util img {
	width: 25px;
	height: 25px;
	margin: auto 10px;
	cursor: pointer;
}

.todo .util img:hover:nth-child(1) {
	animation-name: keyframes1;
	animation-iteration-count: infinite;
	transform-origin: 50% 10%;
	animation-delay: -.75s; 
	animation-duration: .25s
}
.todo .util img:hover:nth-child(2) {
	animation-name: keyframes1;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: 30% 5%;
	animation-delay: -.5s; 
	animation-duration: .26s
}
.todo .util img:hover:nth-child(3) {
	animation-name: keyframes1;
	animation-iteration-count: infinite;
	transform-origin: 50% 10%;
	animation-delay: -.05s; 
	animation-duration: .27s
}

@keyframes keyframes1 {
	0% {
		transform: rotate(-6deg);
		animation-timing-function: ease-in;
	}
	50% {
		transform: rotate(4.5deg);
		animation-timing-function: ease-out;
	}
}

.todo.complete {
	filter: blur(2px);
}

.todo.complete .util {
	display: none;
}


#feedback {
	position: fixed;
	bottom: 20px;
	left: 20px;
	max-width: 200px;
	display: none;
	align-items: center;
	padding: 1.2rem;
	z-index: 100;
	transition: 0.3s ease-in-out display, 150ms ease-in-out all;
}

#feedback.show {
	transition: 0.3s ease-in-out display, 150ms ease-in-out all;
	display: flex;
}

#feedback img {
	width: 30px;
	height: 30px;
}

#feedback span {
	margin-left: 6px;
	text-transform: capitalize;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	flex: 1;
}

#feedback.complete {
	background: rgb(189, 255, 189);
}

#feedback.edit {
	background: rgb(153, 153, 255);
}

#feedback.delete {
	background: rgb(255, 136, 136);
}

#feedback.info {
	background: rgb(194, 255, 255);
}

/* For MoTbile View */
@media screen and (max-width: 400px) {

	.todo .text {
		white-space: nowrap;
		width: calc(100% - 155px);
		height: 24px;
		overflow: hidden;
		text-overflow: ellipsis;

	}

	.text:hover {
		white-space: normal;
		cursor: pointer;
		text-overflow: inherit;
		overflow: visible;
	}

	.text:hover + .util {
		opacity: 0.1;
                user-select: none;
	}

	.todo .util img {
		width: 20px;
		height: 20px;
		margin: auto 7px;
		cursor: pointer;
	}
}
